
body{
    margin: 0;
   font-family: Arial, Courier, sans-serif;
    background: linear-gradient(to bottom, lightblue, purple);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery img{
    width: 400px;
    height: 250px;
}