
body{
    margin: 0;
    font: Arial, Courier;
    background: -moz-linear-gradient(to bottom, lightblue, purple);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gallery img{
    width: 400px;
    height: 250px;
}